<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- <p align="center">
<input type="checkbox" name="testchb" style="display:block">
 测试框<br>
<input type="button" value=" 隐 藏 " name="btnchange" onclick="changedisplay();"><br>
其中：display: none 使其隐藏;display: block 显示</p>
</form> -->
<div id="black"class="div3 col-lg-4 col-md-4 col-sm-4 col-xs-4">
<p>请输入需要创建的IP地址<input type="text" id="ipadd"/></p>
<select name="">
<option value="0">1类型</option>
<option value="1">2类型</option>
</select>
    <br/>
<input type="checkbox" name="checkbox" id="checkbox" value="1" onclick="checkbox1()">可选选项<br/>



<div id="clist" class="div2 col-lg-4 col-md-4 col-sm-4 col-xs-4" style="display:none">
<p>外网IP<input type="text" id="wip"/></p>
<p>硬盘大小<input type="text" id="disk"/></p>
<p>说明:外网ip为机器需要绑定的外网ip</p>
<p>说明:硬盘大小为挂载硬盘的大小,单位为G</p>

</div>
<p><button onclick="openadd()">创建</button><b id="stat"></b></p>

<script>
function checkbox1()
{var che=document.getElementById("checkbox");
var div=document.getElementById("clist");
var wip=document.getElementById("wip");
var disk=document.getElementById("disk");
var chetxt=document.getElementById("chetxt");
if (che.checked==true)
  {div.style.display='block';
  // chetxt.innerHTML='关闭可选选项';

  }
else {
  div.style.display='none';
  wip.value='';
  disk.value='';
  // chetxt.innerHTML='显示可选选项';
  // alert('11');
}


}


</script>



</body>

</html>
