<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
class info:
    pkey = '/home/edward/.ssh/id_rsa'
    key = paramiko.RSAKey.from_private_key_file(pkey, password='34@Shidai')  # 有解密密码时,
    ssh = paramiko.SSHClient()
    ssh.load_system_host_keys()
    def __init__(self, host,):
        self.host =host
    def con(self):
        info.ssh.connect(self.host,33899,"edward",pkey=info.key)#需要try
    def net(self):
        stdin, stdout, stderr = info.ssh.exec_command("cat /proc/net/dev")
        print(stdin)
        print(stderr.readlines())
        print(stdout.readlines())
    # ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())


    print(stdin)
    print(stderr.readlines())
    print (stdout.readlines())
    stdin, stdout, stderr = ssh.exec_command("cat /proc/meminfo")
    print(stdin)
    print(stderr.readlines())
    print(stdout.readlines())
